<div class="collapsible collapsible--expand">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Products</h2>
        <span class="icon chevron">&gt;</span>
    </header>
    <div class="collapsible__content">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita repellendus quidem quasi fugit aliquam! Reprehenderit ab modi quos doloremque maiores!</p>
    </div>
</div>
<div class="collapsible collapsible--expand">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Products</h2>
        <span class="icon chevron">&gt;</span>
    </header>
    <div class="collapsible__content">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita repellendus quidem quasi fugit aliquam! Reprehenderit ab modi quos doloremque maiores!</p>
    </div>
</div>
<script src="js/main.js"></script>