<nav class="nav collapsible">
    <a href="/"><img class="logo" src="images/logo.svg" alt="Moshify Logo"></a>
    <svg class="icon icon--white nav__toggler">
        <use xlink:href="images/sprite.svg#menu"></use>
    </svg>
    <ul class="list nav--list collapsible__content">
        <li class="nav--item"><a href="">Hosting</a></li>
        <li class="nav--item"><a href="">VPS</a></li>
        <li class="nav--item"><a href="">Domain</a></li>
        <li class="nav--item"><a href="">Pricing</a></li>
    </ul>
</nav>
<script src="js/main.js"></script>