
    <blockquote class="quote">
        <p class="quote__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, esse vitae eligendi fugit quidem voluptatem optio doloribus minus animi atque ad qui illum a amet aspernatur? Suscipit hic voluptate laudantium optio amet fuga totam, unde soluta eius rem, tempore, doloremque modi laboriosam asperiores in? Ullam aliquam qui animi omnis corporis?
        </p>
        <footer class="quote__footer">
            <div class="media">
                <div class="media__image">
                    <img src="images/line.svg" alt="" class="icon icon--primary quote__line">
                </div>
                <div class="media__body">
                    <h3 class="media__title quote__author">Jhone Lumeo</h3>
                    <p class="company-name">Mosh Company ceo</p>
                </div>
            </div>
        </footer>
    </blockquote>